<div class="card-content">
  <div class="card-content-img">
    <img class="img-responsive"
      ngSrc= "assets/images/hero-image-business-card.png"
      alt="Business People"
      aria-hidden="true"
      width="400"
      height="200"
      priority />
    <img class="img-overlay"
      ngSrc= "assets/images/white-overlay.svg"
      alt="Business People"
      aria-hidden="true"
      width="400"
      height="200"
      priority />
  </div>
  <div class="card-content-title">
    <h1>Perfect solution for small business</h1>
  </div>
  <div class="card-content-description">
    <p>
      Small businesses need to generate leads to grow.
      You can use tools like Ringy.
    </p>
  </div>
  <div class="card-content-separator">
  </div>
  <div class="card-content-autor">
    <div class="img-avatar">
      <img ngSrc= "assets/images/avatar-image-business-card.png"
        alt="Avatar"
        aria-hidden="true"
        width="36"
        height="36"
        priority />
    </div>
    <div class="information">
      <p>Amy Burgess</p>
      <span>Customer Manger, Solution Oy</span>
    </div>
  </div>
</div>
